/**************************************************
* html, body styling
**************************************************/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    /* Bootstrap stuff */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

/**************************************************
* Map styling
**************************************************/

.angular-google-map-container {
    display: block;
    margin-left: 300px;
    padding: 0;
    position: relative;
    height: 500px;
}

/**************************************************
* Form styling
**************************************************/

#dropForm {
    display: block;
    padding: 10px;
    position: absolute;
    left: -300;
    top: 0;
    width: 300px;
}

.formTitle {
    margin-top: 0;
}

.formButtons {
    display: inline;
}

/**************************************************
* Other styling
**************************************************/
