<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AudiodropMap</title>

        <!-- Resources suggested by Angular Google Maps API -->
        <script src='/resources/Libraries/lodash.js'></script>
        <script src='/resources/Libraries/angular.min.js'></script>
        <!-- useful alternative to above <script> when app is deployed -->
<!--        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>-->
        <script src='/resources/Libraries/angular-simple-logger.js'></script>
        <script src='/resources/Libraries/angular-google-maps.min.js'></script>
        
        <!-- stylesheets -->
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body ng-app = "dropMapApp" ng-controller="dropMapController">
        <!-- TODO: Insert Audiodrops website navbar/menu here -->
        
        <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events">
            <ui-gmap-marker coords="map.clickedMarker"  idKey="map.clickedMarker.id" options="map.clickedMarker.options"></ui-gmap-marker>
            <ui-gmap-markers models="map.markers2" coords="'self'" icon="'icon'" click="onMarkerClicked" options="'options'" events="map.markers2Events">
                <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                    <div>
                        I should not be attached to a
                        marker.
                        <div ng-controller='InfoController'>
                            <a class="btn" ng-click="clickedButtonInWindow()">CLICK ME</a>
                        </div>
                        <p ng-non-bindable >This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>

                        <p class="muted">My marker will stay open when the window is popped up!</p>
                    </div>
                </ui-gmap-windows>
            </ui-gmap-markers>
            <ui-gmap-rectangle bounds="map.rectangle.bounds" stroke="rectangle.stroke" visible="map.rectangle.visible"
                 fill="map.rectangle.fill" fit="false" editable="map.rectangle.editable" draggable="map.rectangle.draggable"
                 events="map.rectangle.events">
        </ui-gmap-rectangle>
        </ui-gmap-google-map>
        
        <form id="dropForm">
            <h1 class = "formTitle">Temp Form Title</h1>
            <div ng-repeat="x in formData">
                <p>{{ x.dataType }}</p>
                <input ng-disabled ="$index < 2" ng-model="x.value">
            </div>
            <button type="submit" class = "submit-button">Submit</button>
        </form>
        
        <!-- Modules -->
        <script src="js/app.js"></script>
        <!-- Controllers -->
        <script src="js/controllers/dropMapController.js"></script>
        <script src="js/controllers/infoController.js"></script>
        <!-- Services -->
        
    </body>
</html>