<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AudiodropMap</title>

        <!-- Core AngularJS library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        
        <!-- stylesheets -->
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body ng-app = "dropMapApp" ng-controller="dropMapController">
        <!-- TODO: Insert Audiodrops website navbar/menu here -->
        
        <div id="map"></div>
        
        <form id="dropForm">
            <h1 class = "formTitle">Temp Form Title</h1>
            <div ng-repeat="x in formData">
                <p>{{ x.dataType }}</p>
                <input ng-disabled ="$index < 2" ng-model="x.value">
            </div>
            <button type="submit" class = "submit-button">Submit</button>
        </form>
        
        <!-- Modules -->
        <script src="js/app.js"></script>
        <!-- Controllers -->
        <script src="js/controllers/dropMapController.js"></script>
        <!-- Services -->
        <script src="js/services/asyncInitializer.js"></script>
        <!-- Insert google maps api script + key -->
        <!--<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>-->
    </body>
</html>